<!--page-header-->
<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="#">
        <img class="logo"
          src="./images/logo128@2x.jpg"
          alt="logo"
          width="80"
          height="28"
        />
      </a>

      <div class="nav__section">
        <ul class="nav__list">
          <li class="nav__item">
            <a class="nav__link" href="#program">Программа обучения</a>
          </li>
          <li class="nav__item">
            <a class="nav__link-us" href="#teacher">О нас</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#options">Варианты обучения</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#contacts">Контакты</a>
          </li>
        </ul>
        <a class="consultation" href="#footer">Консультация по телефону</a>
        <div class="header__nav-button">
          <button type="button"
            class="menu-link is-open"
            aria-expanded="false"
            aria-controls="header__modal-menu"
            data-menu-button>
          <!-- <svg 
            width="20" 
            height="12" 
            aria-label="переключатель мобильного меню">
            
            <use class="icon-menopen" href="https://hellenglish.com/images/header/header-menu.png"></use>
          </svg> -->
            <img width="20" height="12" src="https://hellenglish.com/images/header/header-menu.png">
          </button>
          <div class="header__modal-menu" id="header__modal-menu" data-menu>
            <div class="container">
              <div class="header__modal-top">
                <a href="#">
                  <img src="https://hellenglish.com/images/header/modal-logo.png" />
                </a>
                <button type="button" class="menu-link is-open" aria-expanded="true" aria-controls="header__modal-menu"
                  data-menu-close>
                <!-- <svg  width="11" height="11" aria-label="переключатель мобильного меню">
                  <use class="icon-menclose" src="./images/sprite.svg#icon-modalclose"></use>
                </svg> -->
                  <img width="20" height="20" src="https://hellenglish.com/images/header/close-btn.png">
                </button>
              </div>
              <nav class="header__modal-nav">
                <ul class="header__modal-list">
                  <li class="header__modal-list">
                    <a class="header__modal-list-link" href="#programm">Программа обучения</a>
                  </li>
                  <li class="header__modal-list">
                    <a class="header__modal-list-link" href="#teacher">О нас</a>
                  </li>
                  <li class="header__modal-list">
                    <a class="header__modal-list-link" href="#options">Варианты обучения</a>
                  </li>
                  <li class="header__modal-list">
                    <a class="header__modal-list-link" href="#contacts">Контакты</a>
                  </li>
                </ul>
                <a class="header__modal-btn" href="#footer">Консультация по телефону</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="header-section">
      <div class="header__block">
        <h2 class="header__title">
          Комплексная<br />
          подготовка к ВНО<br />
          по английскому языку
        </h2>
        <p class="header-slogan">
          Просто не будет.<br />
          <div class="header__slogan-subtitle">
          <span class="header-subtitle">Но ты гарантировано наберешь</span
          ><br />
          <span class="header-subtitle-item">+25 баллов</span>
          </div>
        </p>
        <a class="header__button" href="#footer">хочу на бесплатное занятие</a>
      </div>
      
      <img class="header-photo" height="185" src="https://hellenglish.com/images/header/header-photo.png" width="215" alt="" />
   
    </section>
    <ul class="header-skills">
      <li class="header-skills__item icons1">
        <h3 header-skills__title>Адаптированная авторская программа ВНО</h3>
      </li>
      <li class="header-skills__item icons2">
        <h3 header-skills__title>Современные методики обучения</h3>
      </li>
      <li class="header-skills__item icons3">
        <h3 header-skills__title>Финансовая гарантия результата</h3>
      </li>
    </ul>
  </div>

</header>
<script src="../src/menu.js"></script>
<!-- <script src="../src/modal.js"></script> -->
