<section class="teacher" id="teacher-anchor">
  <div class="elena-moreva container">
    <h2 class="profession">Преподаватель</h2>
    <div class="teacher-main-info">
      <div class="teacher-picture">
        <picture>
          <source
            srcset="
              ./images/teacher-desktop.jpg    1x,
              ./images/teacher@2x-desktop.jpg 2x
            "
            media="(min-width: 1314px)"
          />
          <source
            srcset="
              ./images/teacher-tablet.jpg    1x,
              ./images/teacher@2x-tablet.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/teacher-mobile.jpg    1x,
              ./images/teacher@2x-mobile.jpg 2x
            "
            media="(max-width: 767px)"
          />
        </picture>
      </div>
      <img class="teacher-photo" src="./images/teacher-desktop.jpg" />
      <div class="teacher-knowlege-info">
        <h3 class="teacher-name-surname">Елена Морева</h3>
        <ul class="teacher-experience">
          <li class="experience-item">
            Опыт подготовки учеников к ВНО - 6000 лет
          </li>
          <li class="experience-item">
            Собственный результат сдачи ВНО - 197 баллов 2 года подряд
          </li>
          <li class="experience-item">
            Сдала на отлично международный аналог ВНО - Кембриджский PET
            (Preliminary English Test)
          </li>
        </ul>
        <ul class="teacher-education">
          <li class="education-received">
            Высшее образование получила в Институте международных отношений НАУ
            по специальности переводчик-аналитик.
          </li>
          <li class="education-received">
            В свободное время проходит курсы от лучших университетов мира по
            эффективному преподаванию и методикам написания сочинений.
          </li>
          <li class="education-received">
            В числе пройденных: English Grammar and Essay Writing (Berkeley),
            English Grammar&Style (The University of Queesland), How to Write an
            Essay (Berkeley), Academic and Business Writing (Berkeley), The Art
            of Teaching (GEMS education), Powerful Tools for Teaching and
            Learning (University of Houston).
          </li>
        </ul>
        <a class="teacher-certificate" href="#" target="_blank"
          >Cambrige English Entry Level Certificate</a
        >
      </div>
    </div>
  </div>

  <!-- КУЦИЙ ЯРОСЛАВ -->

  <div class="warranty">
    <h2 class="warranty-header">Мы гарантируем</h2>
    <ul class="warranty-list list">
      <li class="warranty-item">
        <p class="dotted_line">
          Ты сдашь ВНО минимум на 25 баллов лучше, чем на первом пробном
          тестировании. Иначе мы вернем деньги.
          <span class="warranty-attention">*</span>
        </p>
      </li>
      <li class="warranty-item">
        <p class="dotted_line">
          Ты научишься писать сочинения минимум на 10 баллов из 14.<span
            class="warranty-attention"
          >
            В то время как 20% учеников получили за сочинение 0.
          </span>
        </p>
      </li>
      <li class="warranty-item">
        <p class="dotted_line">
          Ты будешь заниматься в своем районе. Мы выберем место проведения
          занятий после формирования команд.
        </p>
      </li>
      <li class="warranty-item">
        <p>
          Команды будут сформированы, исходя из начального уровня учеников. Мы
          учитываем особенности каждого ученика.
        </p>
      </li>
    </ul>
  </div>

  <!-- КУЦИЙ ЯРОСЛАВ -->
</section>
<section class="reviews">
  <div class="reviews-wrapper">
    <h2 class="title">Отзывы выпускников</h2>
    <div class="card">
      <div class="images">
        <img
          class="photo"
          src="./images/tonya.png"
          alt="Тоня Кручевская"
          width="150"
          height="150"
        />
        <a class="vk" href="http://vk.com">
          <svg height="30" width="30">
            <use href="./images/sprite.svg#vk"></use>
          </svg>
        </a>
      </div>
      <div class="text">
        <p class="name">Тоня Кучеровская</p>
        <p class="aducation">
          Выпуск 2015-го года, Національний університет біоресурсів і
          природокористування України
        </p>
        <p class="review">
          За короткий час занять з Оленою я опанувала граматику і поповнила свій
          зовсім пустий словниковий запас. З першого ж заняття я зрозуміла, що
          знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
          справді хвилювала моя успішність. Вона стала для мене авторитетом,
          проте я не тремтіла на уроках, маючи страх зробити найменшу помилку.
          Зараз я можу похизуватись тим, що я студен ...
          <button class="spoiler" tipe="button">Читать дальше</button>
        </p>
      </div>
    </div>
    <button class="left-arrow" type="button">
      <svg width="25" height="16">
        <use href="./images/sprite.svg#left-arrow"></use>
      </svg>
    </button>
    <button class="right-arrow" type="button">
      <svg width="25" height="16">
        <use href="./images/sprite.svg#right-arrow"></use>
      </svg>
    </button>
    <ul class="graduates">
      <li class="graduate">
        <img
          src="./images/avatar1.png"
          alt="Тоня Кручевская"
          width="54"
          height="54"
        />
      </li>
      <li class="graduate">
        <img
          src="./images/avatar2.png"
          alt="Тоня Кручевская"
          width="54"
          height="54"
        />
      </li>
      <li class="graduate">
        <img
          src="./images/avatar3.png"
          alt="Тоня Кручевская"
          width="54"
          height="54"
        />
      </li>
      <li class="graduate hidden">
        <img
          src="./images/avatar4.png"
          alt="Тоня Кручевская"
          width="54"
          height="54"
        />
      </li>
      <li class="graduate hidden">
        <img
          src="./images/avatar5.png"
          alt="Тоня Кручевская"
          width="54"
          height="54"
        />
      </li>
      <li class="graduate hidden">
        <img
          src="./images/avatar6.png"
          alt="Тоня Кручевская"
          width="54"
          height="54"
        />
      </li>
      <li class="graduate hidden">
        <img
          src="./images/avatar7.png"
          alt="Тоня Кручевская"
          width="54"
          height="54"
        />
      </li>
    </ul>
  </div>
</section>
